# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
myenv/
venv/
env/
ENV/

# Environment variables
.env

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

temp_downloads

# Results and cache
result/
*.sqlite3
.cache/
*.db

# IDE/editor files
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project

# Test/output files
*.out
*.tmp